/* --Customizing Navigation Bar-- */

nav{
    position: fixed;
    padding: 30px;
    background-color: #B8D5EA;
    z-index: 5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar p{
    font-size: large;
    font-weight: 700;
}

.header-section{
    background-color: #B8D5EA;
}

.background-sunset{
    margin-top: -15px;
}

.header-menu > span{
    display: block;
    width: 1.625rem;
    height: 0.125rem;
    background-color: black;
}

span:not(:last-child){
    margin-bottom: 6px;
}

.header-links, .header-rlinks{
    font-size: 16px;
    font-weight: 700;
}

.header-links{
    margin-left: -400px;
}

.header-section a:hover, .navbar a:hover{
    transition: 0.5s;
    opacity: 0.6;
}
 
a:not(:last-child){
    margin-right: 42px;
}

a.btn-reg:nth-child(2){
    padding: 12px 22px;
    border: 2px solid var(--medium-gray);
    border-radius: 15px;
}
a.btn-reg:hover{
    border: 2px solid var(--almost-black);
}

.client-logos > img{
    position: relative;
    height: 19px;
    margin: 0 20px 20px 20px;
  }

 .tab{
    text-align: left;
    padding-left: 100px;
    font-size: 18px;
    margin-bottom: 30px;
 }